extends layout

block content
  include partials/nav
  aside.trending__tags
  main.feed(data-feed-type=`${feed}` data-username=`${username}` data-tag=`${tag}` data-posts=`${posts}`)
    .container
      if feed != 'user-feed'
        .row: h2= feed
      else
        .row
         // h2= 'Hey ' + username + ' 👋'
          h5 Here are posts from people you follow
    .container-fluid
      .row.feed-insert.justify-content-around
      .btn.btn-primary.load-more-posts Load More Posts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js')
