extends layout

block extraScripts
  script(src="js/uploader.js")

block content
  include partials/nav

  main.create-post
    h1 Upload to DPorn


  <div class="container">
    <div class="row">
      <div class="col">
        <div class="uploadBox">
          <div class="panel-body">
            <h2>Video</h2>
            <div class="progress">
              <div class="vid-progress-bar progress-bar" role="progressbar">#{vidUploadStatus}</div>
            </div>
            <button class="btn btn-lg vid-upload-btn" type="button">Upload Video</button>
            <span>2gb Max</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="uploadBox">
          <div class="panel-body">
            <h2>Thumb</h2>
            <div class="progress">
              <div class="thumb-progress-bar progress-bar" role="progressbar">#{thumbUploadStatus}</div>
            </div>
            <button class="btn btn-lg thumb-upload-btn" type="button">Upload Thumb</button>
          </div>
        </div>
      </div>
    </div>
  

    <input id="vid-upload-input" accept="video/*" type="file" name="vidUploads[]"></br>
    <input id="thumb-upload-input" accept="image/*" type="file" name="thumbUploads[]"></br>



    form(action="/post/create-post/" method="post")
      label Title
      input(type="text" name="title" required)
      label Video Hash (will populate automatically a few moments after upload)
      input(type="text" id="videoHash" name="videohash" required)
      label Thumbnail Hash (will populate automatically a few moments after upload)
      input(type="text" id="thumbnailHash" name="thumbnailhash" required)
      label Tags (comma separated)
      input(type="text" value="nsfw, dporncovideo" name="tags" required)
      button.btn.btn-primary.btn-uploadPost(type="submit") Submit
      p Posting as #{name}
      p #{msg}
    </div>